---
layout: default
title: Home
---
</br>
{% include info.html %}
</br>
<!--
<div class="uk-card uk-card-body uk-card-default">
    <h1>🇧🇷 Receitas em Português:</h1>
    {% assign ordered_recipes = site.recipes | sort: "title" | where: "language", "br" %}
    <ul class="uk-list uk-list-divider">
        {% for recipe in ordered_recipes %}
        <li>
            <div>
                {% include recipe-entry.html data=recipe %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<br />
-->

<div class="uk-card uk-card-body uk-card-default">
    <!--<h1>🇺🇸 English Recipes:</h1>-->
    {% assign ordered_recipes = site.recipes | sort: "title" | where: "language", "en" %}
    <ul class="uk-list uk-list-divider">
        {% for recipe in ordered_recipes %}
        {% if recipe.status != "hidden" %}
        <li>
            <div>
                {% include recipe-entry.html data=recipe %}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<br />