<div class="uk-card uk-card-body uk-card-default">
    <img class="uk-border-circle uk-align-center" style="max-width: 12rem; max-height: 12rem;"
        src="{{ site.url }}{{ site.baseurl }}/assets/img/info.jpg" />
    <div class="uk-text-center">
        <div class="uk-text-large uk-text-bold">Ricardo Bustamante</div>
        <br />
        <div>I am a Software Engineer from Fortaleza CE, Brazil.<br />
            I enjoy cooking as a hobby.</div>
        </dl>
        <br />
        <a href="https://github.com/ricardobusta"><span uk-icon="github" /></a>
        <a href="https://www.linkedin.com/in/ricardo-bustamante-de-queiroz-31627b87"><span uk-icon="linkedin" /></a>
        <a href="https://twitter.com/ricardobusta"><span uk-icon="twitter" /></a>
        <a href="mailto:ricardo@busta.dev"><span uk-icon="mail" /></a>
    </div>
</div>