// 1. Your custom variables
$primary-color: #f0f0f0;
$secondary-color: #ffffff;
$text-color: #000;

$highlight-color-1: #32d296;
$highlight-color-2: #1e87f0;
$highlight-color-3: #faa05a;
$highlight-color-4: #f0506e;
$highlight-color-5: #9D5CCC;

// 2. Variable overrides

$inverse-global-color-mode: none;
$global-emphasis-color: $highlight-color-3;
$global-background: $primary-color;
$global-primary-background: $primary-color;
$global-secondary-background: $secondary-color;
$global-muted-background: $secondary-color;
$global-link-color: $highlight-color-4;
$global-link-hover-color: $highlight-color-3;

// 3. Import default variables and available mixins.
@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";

// 4. Your custom mixin overwrites.
@mixin hook-card() { }

@import "uikit/uikit";
@import "monokai";

// 5. Your CSS
.uk-card{
    color: $text-color; 
    background-color: $secondary-color;
}

.hl{
    color: $highlight-color-5
}