---
layout: default
---

{% assign recipe = site.recipes | where: 'title', page.title | first %}

<h1>{{ recipe.title }}</h1>
<p>Recipe Language: {% include language-flag.html language=recipe.language %}</p>

<p><a href="../../">home</a></p>

<img src="{{ recipe.img-url }}" width="200px" />

{% for description in recipe.description %}
<p>{{description}}</p>
{% endfor %}

<h2>
    {% case recipe.language %}
    {% when "br" %}
    Equipamento
    {% when "en" %}
    Tools
    {% else %}
    Equipment
    {% endcase %}
</h2>

<ul>
    {% for tool in recipe.tools %}
    <li> {{ tool }} </li>
    {% endfor %}
</ul>

<h2>
    {% case recipe.language %}
    {% when "br" %}
    Ingredientes
    {% when "en" %}
    Ingredients
    {% else %}
    Ingredients
    {% endcase %}
</h2>

<ul>
    {% for ingredient in recipe.ingredients %}
    <li>{{ ingredient[0] }} - {{ ingredient[1]}}</li>
    {% endfor %}
</ul>

<h2>Preparing </h2>

<p>{{ content }}</p>